SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=127.0.0.1, localhost 
ALLOWED_HOSTS_CORS=http://localhost:3000, http://localhost:8000, http://127.0.0.1:8000, http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000, http://localhost:8000, http://127.0.0.1:8000, http://127.0.0.1:3000

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

REDIS_PROTOCOL=redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
AWS_SES_FROM_EMAIL=suporte@sintonar.com.br

RESET_PASSWORD_URL=
CONFIRM_EMAIL_URL=